@media screen and (max-width: 460px) {
    h1 {
        font-size: 1.5em;
    }

    h4 {
        font-size: .75em;
        padding: 8px 0 0;
    }
}

@media screen and (min-width: 461px) and (max-width: 624px) {
    h1 {
        font-size: 2.25em;
    }
}

@media screen and (max-width: 849px) {
    .container {
        padding: 0 20px 0;
        transition: 0.5s padding ease-in-out, 0.5s width ease-in-out;
        width: calc(100% - 40px);
        -webkit-transition: 0.5s padding ease-in-out, 0.5s width ease-in-out;
    }
}

@media screen and (min-width: 850px) {
    .container {
        margin: auto;
        transition: 0.5s width ease-in-out;
        width: 850px;
        -webkit-transition: 0.5s padding ease-in-out, 0.5s width ease-in-out;
    }
}